<h2><%= @publisher.name %></h2>
<hr/>

<div class="span5 well text-center">
    <h4>Active Users</h4>
    <p class="text-error" style="font-size: 2em;"><%= @active_users %></p>
</div>
<div class="span5 well text-center">
    <h4>Messages Sent</h4>
    <p class="text-error" style="font-size: 2em;"><%= @messages_sent %></p>
</div>
<div class="span5 well text-center">
    <h4>Messages Scheduled</h4>
    <p class="text-error" style="font-size: 2em;"><%= @messages_scheduled %></p>
</div>
