<% content_for :title do %>
  <title>NotifyMe - Contact</title>
<% end %>
<div class="row page-contact-new">
    <div class="span8">
        <h4>About NotifyMe</h4>
        <hr/>
        <p>
            NotifyMe develops Android and iPhone apps for communities who want to reach their users using latest mobile technology.
        </p>
        <p>
            Key features of the app provided by NotifyMe are
            <ul>
                <li>Send messages with images (video attachment in progress) to your users</li>
                <li>Users receieve app notification for every message sent</li>
                <li>Intuitive and easy to use customer dashboard</li>
                <li>Regular updates in the app</li>
                <li>Ability to add and manage comments</li>
                <li>Receieve user suggestions via email</li>
                <li>Ability to schedule messages to be sent at a later date</li>
                <li>Community users can add places of interest. Displayed only after admin verification.</li>
                <li>View/Search places of interest on map</li>
                <li>Ability to add categories to places</li>
                <li>Ability to search places of interest based on categories</li>
                <li>Send messages through your mobile <span class="muted"><small>(support not guaranteed)</small></span></li>
                <li>Quality work at the cheapest price guarantee</li>
                <li>Automatically update messages to facebook page <span class="muted"><small>(in progress)</small></span></li>
                <li>Automatically send message to email group</li>
            </ul>
        </p>
    </div>
    <div class="span4">
        <h4>Contact</h4>
        <hr/>
        <address>
            <strong>Mobisys Technologies</strong><br>
            Mahesh Society, Bibwewadi<br>
            Pune - 411037<br>
            <i class="icon-phone"></i> (020) 24410212
        </address>
        <address>
            <strong>Mahavir Jain</strong><br>
            <a href="mailto:#">mahavir.jain@mobisys.in</a><br>
            <i class="icon-phone"></i> (+91) 9420730595
        </address>
        <address>
            <strong>Priyank Tiwari</strong><br>
            <a href="mailto:#">priyank.tiwari@mobisys.in</a><br>
            <i class="icon-phone"></i> (+91) 9881741017
        </address>
    </div>
</div>