<% content_for :title do %>
  <title>NotifyMe - Login</title>
<% end %>

<div class="row">
    <div class="span12">

    	<% publisher = get_publisher_from_session() %>
        <% if publisher.present? %>
            <%= partial 'main/dashboard' %>
        <% else %>
            <%= partial 'main/login' %>
        <% end %>

    </div>
</div>