<% content_for :title do %>
  <title>NotifyMe - Login</title>
<% end %>

<div class="row">
    <div class="span12">

        <% if logged_in? %>
            <%= partial 'main/dashboard' %>
        <% else %>
            <%= partial 'main/login' %>
        <% end %>

    </div>
</div>