<p>
  Hello <%= subscriber.publisher.name %>,
</p>

<p>
  New feedback/suggestion has been received from user "<%= subscriber.name %>"
</p>

<p>
   	<strong><%= msg %></strong>
</p>

<p>
  Thanks,<br/>
  Notifyme Team
</p>
