<p>
  Hello <%= publisher.name %>,
</p>

<p>
  As per your request, we have generated your new password for notifyme.in.
  <br/>
  You can now login using following details,
</p>

<p>
   	<strong>Username:</strong> <i><%= publisher.email %></i><br/>
   	<strong>Password:</strong> <i><%= new_passwd %></i>
</p>

<p>
  Thanks,<br/>
  Notifyme Team
</p>
