<p>
  Hello <%= user.name %>,
</p>

<p>
  As per your request, we have generated a new password for you.
  <br/>You can now login using new password.
</p>

<p>
  Your login details are,<br/>
  	Username: <strong><%= user.email %></strong><br/>
   	Password: <strong><%= new_passwd %></strong>
</p>

<p>
  Thanks,<br/>
  Notifyme Team
</p>
