@import "bootstrap.less";
@import "bootswatch.less";

body {
  padding-top: 60px;
}

.spacer30 { 
  height: 30px; 
  width: 100%; 
  font-size: 0; 
  margin: 0; 
  padding: 0; 
  border: 0; 
  display: block; 
}

.spacer20 { 
  height: 20px; 
  width: 100%; 
  font-size: 0; 
  margin: 0; 
  padding: 0; 
  border: 0; 
  display: block; 
}

.navbar .btn, .navbar .btn-group {
  margin-top: 15px;
}

.page-notifications-new #editor {
  overflow-y: scroll;
  height: 300px;
  max-height: 300px;
  border: 1px solid #CCC;
  padding: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  outline: none;
  border-collapse: separate;
}

.page-notifications-new .btn-group {
  margin-top: 5px;
}

.page-notifications-new .btn-group+.btn-group {
  margin-left: 8px;
}

.page-notifications-new .btn-group>.btn+.btn {
  border-left: 1px solid #757575;
}

.page-notifications-new i.icon-calendar {
  cursor: hand;
  cursor: pointer;
}

.page-notifications-new #schedule-later-modal .modal-body {
  min-height: 300px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  color: #2c3e50;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  background-color: white;
}

.carousel-inner > .item > img { 
  margin: 0 auto;
}

